@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary-background: #fafbfc;
  --border-coloe: #D9B373;
  --foreground: #000000;
}

@media(prefers-color-scheme: dark){
  :root{
    --background: #000000;
    --secondary-background: #121212;
    --border-color: #B38B4D;
    --foreground: #ffffff;
  }
}

@theme inline{
  --color-bg: var(--background);
  --color-fg: var(--foreground);
  --color-secondary-bg: var(--secondary-background);
  --color-border: var(--border-coloe);
}
